/* Background */
html {
  font: 14px/1.5 Arial, sans-serif;
  background: rgb(37, 11, 199);
}

body {
  background: rgb(249, 249, 249);
  width: auto;
  height: 97vh;
  border-radius: 1.25vh;
  margin: 1.25vh;
}

section.background {
  background: rgb(24, 183, 3);
}
