html,
body {
  height: calc(100vh - 1rem);
  margin: 0.25rem;
}

html {
  /* Gradient effect */
  /* Use div element inside body to fit */
  background: rgb(122, 122, 182);
}

body {
  background: white;
  /* 0 0 0 5rem sets border width beyond page, rest creates gradient */
  box-shadow: 1rem 4rem 11rem 5rem blue;
  border-radius: 1.618rem;
}
